      #aaa{
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            color:black;
            text-indent: 30px;
            margin-top: 50px;
            padding-right:25px;
        }
        #bbb{
            text-align: center;
            padding-top: 30px;
            font-weight: 600;
        }
        #bbb:hover{
            color: orangered;
        }
        ul li{
            margin-left: 30px;
            font-size: 25px;
        }
        #abc{
            height: 100px;
            width: 115px;
        }
        input[type=button]{
            border-radius:20px;
            background-color: #f57300;
            color: white;
            margin-right: 30px;
            font-size: 15px;
            height: 40px;
            width: 120px;
            border: none;  
             
        }
        .row3{
            height:90%;
            width: 90%;
            background-color: white;
            box-shadow: 1px 1px 2px 2px gray;
            margin-left: 80px;
            border-radius: 20px;
            margin-top:20px;
            margin-bottom: 40%;
        }
        
        .col2{
            float: left;
            width: 50%;
        }
        #b2{
            font-size: 16px;
            color: black;
        }

        #pp
        {
            font-size: 10px;
            font-family: 'Times New Roman', Times, serif;
            color:black;   
        }
        #ppp
        {
            color: black;
        }
      #event{
        width: 80% ;
        height: 60%;
        margin-left: 40px;
        margin-top: 150px;
        border-radius: 20px;
        margin-bottom: 80px;
      }
     