#kk{
    height: 100%;
    width: 100%;
   
}
#pp{
    color: orangered;
    text-align: left;
    padding-left: 100px;
    list-style-type: disc; 
    font-size: 15px;
}
.row
{
    height: 100%;
    width: 100%;
    padding: auto;
}
.col1{
    float: left;
    width: 49%;
}
#mm
{
    color: blue;
    font-size: 15px;
    padding-left: 20%;
    margin-left: 2%;
    margin-top: 5%;
}
@media screen and (max-width:900px) {
    .row
    {
        height: auto;
        padding: 0%;
    
    }
    .col1
    {
        width: 90%;
        
    }
    .col
    {
        width: 90%;
        
    }
    #kk
    {
       height: 90%;
       width: 90%; 
       padding-left: 8%;
    }
}